<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the FAA Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: VIew and import the dataset

In [1]:
#Import necessary libraries
import pandas as pd

In [4]:
#Import the FAA (Federal Aviation Authority) dataset
df_faa_source = pd.read_csv('faa_ai_prelim.csv')

#### 2: View and understand the dataset

In [5]:
#View the dataset shape
df_faa_source.shape

(83, 42)

In [6]:
#View the first five observations
df_faa_source.head(5)

,UPDATED,ENTRY_DATE,EVENT_LCL_DATE,EVENT_LCL_TIME,LOC_CITY_NAME,LOC_STATE_NAME,LOC_CNTRY_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,...,PAX_INJ_NONE,PAX_INJ_MINOR,PAX_INJ_SERIOUS,PAX_INJ_FATAL,PAX_INJ_UNK,GRND_INJ_NONE,GRND_INJ_MINOR,GRND_INJ_SERIOUS,GRND_INJ_FATAL,GRND_INJ_UNK
0,No,19-FEB-16,19-FEB-16,00:45:00Z,MARSHVILLE,North Carolina,NaN,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,19-FEB-16,18-FEB-16,23:55:00Z,TAVERNIER,Florida,NaN,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,FAA Miami FSDO-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No,19-FEB-16,18-FEB-16,22:14:00Z,TRENTON,New Jersey,NaN,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",Incident,FAA Philadelphia FSDO-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,19-FEB-16,18-FEB-16,17:10:00Z,ASHEVILLE,North Carolina,NaN,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",Incident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,No,19-FEB-16,18-FEB-16,00:26:00Z,TALKEETNA,Alaska,NaN,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",Incident,FAA Anchorage FSDO-03,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
#View all the columns present in the dataset

#### 3: Extract the following attributes from the dataset:
1. Aircraft make name
2. State name
3. Aircraft model name
4. Text information
5. Flight phase
6. Event description type
7. Fatal flag

In [24]:
#Create a new dataframe with only the required columns

In [25]:
#View the type of the object

In [26]:
#Check if the dataframe contains all the required attributes

#### 4. Clean the dataset and replace the fatal flag NaN with “No”

In [27]:
#Replace all Fatal Flag missing values with the required output

In [28]:
#Verify if the missing values are replaced

In [29]:
#Check the number of observations

#### 5. Remove all the observations where aircraft names are not available

In [30]:
#Drop the unwanted values/observations from the dataset

#### 6. Find the aircraft types and their occurrences in the dataset

In [31]:
#Check the number of observations now to compare it with the original dataset and see how many values have been dropped

In [32]:
#Group the dataset by aircraft name

In [33]:
#View the number of times each aircraft type appears in the dataset (Hint: use the size() method)

#### 7: Display the observations where fatal flag is “Yes”

In [34]:
#Group the dataset by fatal flag

In [35]:
#View the total number of fatal and non-fatal accidents

In [36]:
#Create a new dataframe to view only the fatal accidents (Fatal Flag values = Yes)