In [1]:
import pandas as pd

### Create DataFrame from Lists

In [2]:
# the lists must be equals at size
olympic_data_list = {'HostCity': ['London', 'Beijing', 'Athens', 'Sydney', 'Atlanta'], 
                     'Year': [2012, 2008, 2004, 2000, 1996],
                     'No. of Participating Countries': [205, 204, 201, 200, 197]
                    }

df_olympic_data = pd.DataFrame(olympic_data_list)

df_olympic_data

  HostCity  Year  No. of Participating Countries
0   London  2012                             205
1  Beijing  2008                             204
2   Athens  2004                             201
3   Sydney  2000                             200
4  Atlanta  1996                             197

### Create DataFrame from Dict

In [3]:
olympic_data_dict = {'London': {2012:205}, 'Beijing': {2008:204}}

df_olympic_data_dict = pd.DataFrame(olympic_data_dict)

df_olympic_data_dict

      London  Beijing
2012   205.0      NaN
2008     NaN    204.0

### Accessing data from DataFrame

In [4]:
df_olympic_data.HostCity

0     London
1    Beijing
2     Athens
3     Sydney
4    Atlanta
Name: HostCity, dtype: object

In [5]:
df_olympic_data.describe

<bound method NDFrame.describe of   HostCity  Year  No. of Participating Countries
0   London  2012                             205
1  Beijing  2008                             204
2   Athens  2004                             201
3   Sydney  2000                             200
4  Atlanta  1996                             197>

### Create DataFrame from dict of Series

In [6]:
olympic_series_participation = pd.Series([205, 204, 201, 200, 197], index=[2012, 2008, 2004, 2000, 1996])
olympic_series_country = pd.Series(['London', 'Beijing', 'Athens', 'Sydney', 'Atlanta'], 
                                   index=[2012, 2008, 2004, 2000, 1996])

df_olympic_series = pd.DataFrame({ 'Host Cities': olympic_series_country,
                                   'No. of Participating Countries': olympic_series_participation
                                 })

df_olympic_series

     Host Cities  No. of Participating Countries
2012      London                             205
2008     Beijing                             204
2004      Athens                             201
2000      Sydney                             200
1996     Atlanta                             197

### Create DataFrame from ndarrays

In [7]:
import numpy as np

np_array_year = np.array([2012, 2008, 2004, 2006])
np_array_country = np.array(['London', 'Beijing', 'Athens', 'Sydney'])

dict_ndarray_year = {'Year': np_array_year}
dict_ndarray_countries = {'HostCity': np_array_country}

df_ndarray = pd.DataFrame({ 'Year': np_array_year, 'Host Cities': np_array_country })

df_ndarray

   Year Host Cities
0  2012      London
1  2008     Beijing
2  2004      Athens
3  2006      Sydney

### Create DataFrame from DataFrame

In [8]:
df_from_df = pd.DataFrame(df_olympic_series)

df_from_df

     Host Cities  No. of Participating Countries
2012      London                             205
2008     Beijing                             204
2004      Athens                             201
2000      Sydney                             200
1996     Atlanta                             197