In [1]:
import pandas as pd

In [2]:
first_series = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])

In [3]:
second_series = pd.Series([10, 20, 30, 40, 50], index=['c', 'e', 'f', 'g', 'h'])

In [4]:
sum_of_series = first_series + second_series

In [5]:
sum_of_series

a     NaN
b     NaN
c    13.0
d     NaN
e    25.0
f     NaN
g     NaN
h     NaN
dtype: float64

In [6]:
#drop NaN (Not a Number) values from dataset
dropna_s = sum_of_series.dropna()
dropna_s

c    13.0
e    25.0
dtype: float64

In [7]:
#fill NaN values in dataset
fillna_s = sum_of_series.fillna(0)
fillna_s

a     0.0
b     0.0
c    13.0
d     0.0
e    25.0
f     0.0
g     0.0
h     0.0
dtype: float64

In [ ]:
#fill NaN values with zeroes before performing addition operation for missing indices
fill_NaN_with_zeros_before_sum = first_series.add(second_series, )